@model Aplikace.Models.Pot

@{
    ViewData["Title"] = "Detaily";
}

<div>
    <h4>Pot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PotId">Edit</a> |
    <a asp-action="Index">Zpět na seznam</a>
</div>class="clanky-tlacitko" asp-action="Index">Zpět na seznam</a>